@{
    ViewBag.Title = "Home Page";
}

    <div style="height: 500px;" margin="auto">
        &nbsp;
        <p style="font-size:160%"><strong>Duomenų bazių LD2</strong></p>
        <p style="font-size:160%"><strong>Parengė: Dominykas Astrauskas IF/8-2</strong></p>
    </div>